{% extends 'base.html' %}

{% block title %}
Про нас
{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center">
    <h1 class="display-4 fw-normal" id="h1__text">Образовательные модули</h1>
</div>
<div id="wrapper__back">
    <script>
        VANTA.NET({
    el: "#wrapper__back",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0x49ad4,
    backgroundColor: 0xffffff,
    points: 5.00,
    maxDistance: 10.00,
    spacing: 10.00
})



    </script>
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Java -->
                <div class="container__java">
                    <h2 class="display-4 fw-normal" id="zagolovok__modules__m" data-aos="fade-right">Java</h2>
                    <p id="text__modules__m" data-aos="fade-right">На данном направлении вы познакомитесь с
                        основами
                        программирования на языке Java. Java является основой практически для всех типов сетевых
                        приложений и всеобщим стандартом для разработки и распространения встроенных и мобильных
                        приложений, игр, веб-контента и корпоративного программного обеспечения. В мире
                        насчитывается
                        более 9 миллионов специалистов, разрабатывающих приложения на Java, которая позволяет
                        эффективно
                        разрабатывать, внедрять
                        и использовать превосходные приложения и услуги. От портативных компьютеров до центров
                        сбора
                        данных, от игровых консолей до суперкомпьютеров, используемых для научных разработок, от
                        сотовых
                        телефонов до сети Интернет
                        — Java используется повсюду! <br>Ознакомиться с программой, вы можете по ссылке --> <a
                                href="https://disk.yandex.ru/d/gap4n4ZderlBAg">Программа:
                            Основы программирования на языке Java</a>
                    </p>
                    <div class="button__container">
                        <a href="#" class="glow-button" data-aos="fade-right">Записаться на курс</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <!-- Python -->
                <div class="container__python">
                    <h2 class="display-4 fw-normal" id="zagolovok__modules__m" data-aos="fade-left">Python</h2>
                    <p id="text__modules__m" data-aos="fade-left">Python - это высокоуровневый интерпретируемый
                        язык
                        программирования общего назначения. Его философия дизайна подчеркивает читабельность
                        кода с
                        использованием значительных отступов. Python динамически типизируется и собирает
                        мусор. Он поддерживает несколько парадигм программирования, включая структурированное
                        (особенно
                        процедурное), объектно-ориентированное и функциональное программирование. <br>
                        Ознакомиться с
                        программой, вы можете по
                        ссылке --> <a href="https://disk.yandex.ru/d/gap4n4ZderlBAg">Программа: Основы программирования на языке Python</a>
                    </p>
                    <div class="button__container">

                        <a href="#" class="glow-button" data-aos="fade-left">Записаться на курс</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- web -->
        <div class="web">
            <h2 class="display-4 fw-normal" id="zagolovok__modules__m" data-aos="flip-up">Web - Разработка</h2>
            <p id="text__modules__m" data-aos="flip-up">Веб-разработка-это работа, связанная с разработкой
                веб-сайта для
                Интернета (World Wide Web) или интрасети (частной сети). Веб-разработка может варьироваться от
                разработки простой статической страницы обычного текста до сложных
                веб-приложений, электронного бизнеса и сервисов социальных сетей. На данном направлении вы
                познакомитесь
                с языком гипертекста HTML, языком описания внешнего вида документа (веб-страницы) CSS, Bootstrap
                и
                языком программирования
                JavaScript <br> Ознакомиться с программой, вы можете по ссылке --> <a href="https://disk.yandex.ru/d/gap4n4ZderlBAg">Программа: Основы
                    Web -
                    разработки</a>
            </p>
            <div class="button__container" data-aos="flip-up">
                <a href="#" class="glow-button">Записаться на курс</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}